# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Compilaciones
build/
dist/
*.build/
*.dist/
*.onefile-build/

# Ejecutables y paquetes
OverRoll.exe
OverRoll_Portable*.zip

# Editores y sistema
.vscode/
.idea/
Thumbs.db
.DS_Store
